$primary: #803093;
$primary-opacity-75: #80309375;

$info: #3F8794;
$secondary: #E2E2E2;

$accent: #3F8794;
$accent-opacity-75: #3F879475;
$accent-opacity-50: #3F879450;
$accent-opacity-25: #3F879425;

$success: #429d6f;
$warning: #bf8d37;
$danger: #EE4D6E;

